<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is the endowment?</h2>
                <hr class="light text-faded">
                
                <p>$29.4 billion as of June 30, 2018.</p>
                <p>Makes approximately $8 million per day, with an approximately 12% return annually.</p>
                <br>
                <p>It’s used for:</p>
                <p>XXX</p>

                <p>It’s run by:</p>
                <p>Yale’s Investments Office led by Chief Investment Officer David Swensen</p>
                </p>
            </div>
        </div>
    </div>
</section>
