<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h2 class="section-heading">Ready to get involved?</h2>
                <hr class="primary">
                <p>Follow us on instagram for updates. Send us an email with any questions and we will get back to you as soon as possible! And sign up for our <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKacoXq6rVJwKJw0lSxjn_H1g2vdeEoHhTs60vEh4tisGqaw/viewform?usp=sf_link">mailing list</a>.</p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
        <div class="col-lg-6 text-center">
            <a href="https://instagram.com/yaleendowmentjustice">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>yaleendowmentjustice</p>
            </a>
        </div>
        <div class="col-lg-6 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn text-center" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

    </div>
</section>
