<section class="bg-secondary" id="fossil-fuels">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Yale Invests in Fossil Fuels</h2>
                <hr class="light text-faded">
                
                <p>Yale’s investments in fossil fuels total $678 million (that we know about). In one year, Yale invested $230 in a fracking company.</p>

                <p>Yale concluded in 2014 that divestment from fossil fuels was not warranted. <a href="https://static1.squarespace.com/static/55db7b87e4b0dca22fba2438/t/5bbcf4bce79c70ae71531616/1539110076569/Climate+Change.pdf">ACIR Statement</a> </p>

                </p>
            </div>
        </div>
    </div>
</section>
