<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Yale is complicit</h1>
            <hr>
            <p>Yale is invested in fossil fuels, Puerto Rican debt, prisons, illegal settlements in Palestine, and more. With an endowment larger than the GDP of dozens of nations, divestment could make a huge difference.</p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
