<section class="bg-tertiary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">History of Endowment Justice at Yale</h2>
                <hr class="light text-faded">
                
                <p>In the 1980s student activists demanding Yale divest from apartheid South Africa engaged in direct action including a 10 day occupation of Beinecke Plaza leading to the arrest of 78 students. Their efforts were rewarded when Yale divested from South African companies in the early 1990s.</p>

                <p>The <a href="https://acir.yale.edu/">Advisory Committee on Investor Responsibility</a> (ACIR) was founded in order to address “social responsibility issues” including investment in South Africa. What is this committee doing now? Approving Yale’s investments in climate destruction, Puerto Rican debt.</p>

                </p>
            </div>
        </div>
    </div>
</section>
