<section class="bg-tertiary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">History of Endowment Justice at Yale</h2>
                <hr class="light text-faded">
                    <p>In the 1980s student activists demanding Yale <a href="https://acir.yale.edu/">divest from apartheid South Africa</a> engaged in direct action including a 10 day occupation of Beinecke Plaza, leading to the arrest of 78 students. Their efforts were rewarded when Yale divested from South African companies in the early 1990s.</p>

                    <p>The Advisory Committee on Investor Responsibility (ACIR) was founded in order to address “social responsibility issues” including investments in South Africa. What is this committee doing today? Shielding Yale’s investments from criticism with <a href="http://investments.yale.edu/social-responsibility/">flimsy justifications</a> for Yale’s unethical investments.</p>

                </p>
            </div>
        </div>
    </div>
</section>
