<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Demands</h2>
					<p>Endowment Justice at Yale is a campaign for ethical investment practices at Yale University, comprised of members from across the Yale community, including students, faculty and alumni. We are not members of a single organization or interest group, nor do we share a single political ideology. We are united in our belief that through the endowment Yale is complicit in violence and economic injustice in our own communities and around the world. The only ethical action Yale can take is to cancel its unethical holdings and divest. We are committed to educating the Yale community on the endowment and getting Yale to divest by using a diversity of tactics, including direct action.</p>

					<p>We demand that Yale divest from fossil fuels and cancel holdings in Puerto Rican debt.</p>


            </div>
        </div>
    </div>
</section>
