<section class="bg-secondary" id="predatory-lending">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Yale Invests in Predatory Lending</h2>
					<p>Payday loans -- loans with roughly 400% interest rates which are prohibited in 24 states, including Connecticut -- drain money from low income communities through predatory lending and use aggressive collection practices. The industry spends approximately $15 million per year on political contributions. Yale is invested in Ace Cash Express. As a result of its <a href="https://www.washingtonpost.com/business/economy/payday-lender-ace-cash-express-fined-over-abusive-debt-collection-practices/2014/07/10/04e9fa08-0858-11e4-8a6a-19355c7e870a_story.html?noredirect=on&utm_term=.a76fd6b8df01">abusive debt-collection</a> practices the company reached a $10 million settlement with the Consumer Financial Protection Bureau.</p>

					<p>Nationstar, a subprime lending company which has been <a href="https://www.wsj.com/articles/SB10001424127887324326504578467274077663056">investigated for its foreclosure practices</a> is among Yale’s investments. Nationstar has foreclosed on homes in New Haven, including on one of <a href="https://www.courant.com/education/hc-yale-endowment-mortgage-20160608-story.html">Yale’s own employees</a>.</p>

					<p>Yale prides itself on its need-blind admissions and tuition assistance, but it funds these initiatives on the backs of student borrowers. Yale’s investment manager, Kingston Capital, has $40 million invested in Navient, the largest servicer of student loans in the U.S. Navient is <a href="https://www.nytimes.com/2017/04/09/business/dealbook/states-say-navient-preyed-on-students.html">facing charges</a> that they’ve taken advantage of students with predatory lending practices to maximize student debt.</p>


            </div>
        </div>
    </div>
</section>
