<section class="bg-primary" id="private-prisons">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Yale Invests in Private Prisons</h2>
                <hr class="light text-faded">
                
                <p>Yale concluded in 2018 that divestment from private prisons was not warranted. <a href="https://static1.squarespace.com/static/55db7b87e4b0dca22fba2438/t/5bbcf503c830256cbbd1c815/1539110147909/Private+Prisons.pdf">ACIR Statement </a></p>
                </p>
            </div>
        </div>
    </div>
</section>
