<section class="bg-tertiary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Yale Invests in Puerto Rican Debt</h2>
                <hr class="light text-faded">
                
                <p>Yale concluded in 2018 that divestment from Puerto Rican debt was not warranted.</p>

                <p>Baupost, Yale’s 5th largest investment manager, holds over $911 million in Puerto Rican debt. Baupost is suing Puerto Rico for first dibs at being repaid for the debt they own. <a href="https://static1.squarespace.com/static/55db7b87e4b0dca22fba2438/t/5bbcf5139140b79f59ebb130/1539110163542/Puerto+Rico.pdf">ACIR Statement </a></p>
                </p>
            </div>
        </div>
    </div>
</section>
