<section class="bg-primary" id="puerto-rican-debt">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Yale Invests in Puerto Rican Debt</h2>
                <hr class="light text-faded">
                
                <p>Five of Yale’s investment managers had holdings in Puerto Rico’s $74 billion dollar debt at the end of 2017. Baupost, Yale’s 5th largest investment manager, holds over $911 million in Puerto Rican debt.  Baupost are fighting other “vulture funds,” by suing Puerto Rico for first dibs at being repaid for the debt they own.</p>

                <p>The second largest holder of Puerto Rican debt is Franklin Resources. Billionaire Charles B. Johnson is Franklin’s top shareholder. In September 2013, Johnson donated $250 million to Yale, the largest donation in Yale’s history.</p>

                <p>Yale <a href="https://static1.squarespace.com/static/55db7b87e4b0dca22fba2438/t/5bbcf5139140b79f59ebb130/1539110163542/Puerto+Rico.pdf">concluded</a> in 2018 that divestment from Puerto Rican debt was not warranted.</p>

                <p>Baupost, Yale’s 5th largest investment manager, holds over $911 million in Puerto Rican debt. Baupost is suing Puerto Rico for first dibs at being repaid for the debt they own. <a href="https://static1.squarespace.com/static/55db7b87e4b0dca22fba2438/t/5bbcf5139140b79f59ebb130/1539110163542/Puerto+Rico.pdf">ACIR Statement </a></p>
                </p>
            </div>
        </div>
    </div>
</section>
