<section id="What Is Yale Invested In">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is Yale Invested In?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <a href="#puerto-rican-debt">
                    <div class="service-box">
                        <img src="img/catbutton.png" class="wow bounceIn text-primary"></img>
                        <h3>Puerto Rican Debt</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
               <a href="#fossil-fuels">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Fossil Fuels</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="#private-prisons">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Private Prisons</h3>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
               <a href="#predatory-lending">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Predatory Lending</h3>
                </div>
            </a>
        </div>
    </div>
</section>
