<section class="bg-secondary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Yale Invests in Student Debt</h2>
                <hr class="light text-faded">
                
                <p>Yale prides itself on its need-blind admissions and tuition assistance, but it funds these initiatives on the backs of student borrowers. Yale’s investment manager, Kingston Capital, has $40 million invested in Navient, the largest servicer of student loans in the U.S. Navient is <a href="https://www.nytimes.com/2017/04/09/business/dealbook/states-say-navient-preyed-on-students.html">facing charges</a> that they’ve taken advantage of students with predatory lending practices to maximize student debt.</p>
                </p>
            </div>
        </div>
    </div>
</section>
