<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is the Yale endowment?</h2>
                <hr class="light text-faded">
                
                <p>
                    An endowment is an ongoing pot of income for a “non-profit” organization. Established in 1718, Yale’s endowment consists of money donated to Yale, as well as money Yale invests.
                </p>
                <p> 
                    As of June 2018 Yale’s endowment was valued at $29.4 billion    
                </p>
                <p>
                    It’s managed by the Yale Investments Office, run by Chief Investment Officer David Swenson. Swenson is Yale’s highest paid employee.
                </p>
                <p>
                    It makes approximately $8 million per day, and a return of 6-12% annually.
                </p>
                <p>
                   The endowment funds are designated for the long-term funding of University operations, with the majority of funds going towards “undesignated” expenses, “miscellaneous specific purposes,” and professorships. The remaining quarter of the endowment is designated for financial aid, maintenance and books. 
                </p>
                <p>
                    Yale’s the second largest university endowment in the world.
                </p>
            </div>
        </div>
    </div>
</section>
